* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #eceff1;
}

#feature-review {
  height: 400px;
  overflow: hidden;
}
#feature-review img {
  width: 100%;
  height: 400px;

  object-fit: cover;
}
