* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #eceff1;
}
header {
  background: #fff;
}
header .navbar-brand {
  font-size: 1.5em;
  font-weight: 600;
}
footer {
  background: #fff;
  height: 70px;
  font-size: 1.5em;
  font-weight: 600;
}
main {
  padding-top: 20px;
  min-height: 80vh;
}
.new-review ul a,
.tags ul a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
}
.new-review ul a:hover {
  color: #f00;
}
.tags ul a:hover {
  color: #0d6efd;
}
.line-break {
  white-space: pre-line;
}
.cursor-pointer {
  cursor: pointer;
}
