* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #eceff1;
}
header {
  background: #fff;
}
header .navbar-brand {
  font-size: 1.5em;
  font-weight: 600;
}
footer {
  background: #fff;
  height: 70px;
  font-size: 1.5em;
  font-weight: 600;
}
main {
  min-height: 80vh;
}

.line-break {
  white-space: pre-line;
}
.cursor-pointer {
  cursor: pointer;
}
